.contacts {
  &__contents {
    display: flex;
    justify-content: center;

    margin: 38px 0 50px;

    color: rgb(70, 36, 33);
    font-size: 24px;
    font-weight: 500;
  }

  &__info {
    display: flex;
    justify-content: center;

    margin: 0 0 235px;

    &-image {
      margin: 0 42px 0 0;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:nth-child(odd) {
        margin: 0 0 23px;
      }

      &:nth-child(even) {
        margin: 0 0 26px;
      }
    }

    &-contents {
      color: rgb(70, 36, 33);
      font-size: 22px;
      font-weight: 500;

      margin: 0 0 23px;
    }

    &-line {
      display: flex;

      &:nth-child(odd) {
        margin: 0 0 23px;
      }

      &:nth-child(even) {
        margin: 0 0 26px;
      }

      &:last-child {
        margin: 0;
      }

      &_image {
        margin: 0 8px 0 0;
      }

      &_name {
        color: rgb(70, 36, 33);
        font-size: 18px;
        font-weight: 500;

        margin: 0 15px 0 0;
      }

      &_description {
        color: rgb(47, 47, 47);
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
